body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #0b4066;
  font-family: monospace;
  color: #fafafa;
}

.game-window {
  display: flex;
  position: relative;
}
canvas {
  margin-top: 40px;
  background: #417703;
  border: 5px solid #222222;
}

h1 {
  text-decoration: underline;
}

h2 {
  padding: 20px;
}

.fake-btn {
  background-color: gray;
  color: black;
  box-shadow: 5px 10px;
  padding: 20px;
  border-radius: 50%;
  font-size: 24px;
}

#a {
  position: absolute;
  right: 35%;
  bottom: 20%;
}

#b {
  position: absolute;
  right: 25%;
  bottom: 15%;
}

#score {
  position: absolute;
  color: black;
  top: 5px;
  right: 20px;
  font-family: sans-serif;
}
